<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke suite" parallel="tests">

    <test name="Posting">
        <classes>
            <class name="Execution.PostingTestCase"/>
        </classes>
    </test>
    <test name="ASIAutomation">
        <classes>
            <class name="Execution.ASIAutomation"/>
        </classes>
    </test>
    <test name="EnwuserNavigation">
        <classes>
            <class name="Execution.EnwUserNavigationTestCase"/>
        </classes>
    </test>
</suite>