<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke suite">

    <test name="Posting">
        <classes>
            <class name="Execution.PostingTestCase"/>
        </classes>
    </test>
    <test name="Posting">
        <classes>
            <class name="Execution.PostingTestCase"/>
        </classes>
    </test>
    <test name="BasicNavigation">
        <classes>
            <class name="Execution.BasicNavigationTestCase"/>
        </classes>
    </test>
    <test name="MobileProfile">
        <classes>
            <class name="Execution.MobileTestCase"/>
        </classes>
    </test>
    <test name="Enwuservavigation">
        <classes>
            <class name="Execution.EnwUserNavigationTestCase"/>
        </classes>
    </test>
</suite>